<md-dialog aria-label="{{vm.label}}" flex flex-gt-sm="50" flex-gt-lg="40" ng-cloak>
    <md-toolbar >
        <div class="md-toolbar-tools">
            <h2 class="white-text">{{vm.label}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon class="mdi mdi-close mdi-24px" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content flex layout-padding layout-wrap>
      <md-list>
        <md-list-item class="md-3-line">
          <div class="md-list-item-text">
            <h3>{{vm.user.name}}</h3>
            <h4>{{vm.user.employee_number}}</h4>
            <p>{{vm.user.email}}</p>
          </div>
        </md-list-item>
      </md-list>
      <md-subheader>Experiences</md-subheader>
      <md-list layout="row" layout-wrap>
        <md-list-item class="md-2-line" ng-repeat="experience in vm.user.experiences" flex-xs="100" flex-sm="100" flex-gt-sm="40" flex-gt-md="30">
          <div class="md-list-item-text">
            <h3>{{experience.position.name}}</h3>
            <p>{{experience.date_started | date: 'MMM. dd, yyyy'}}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-dialog-content>
</md-dialog>
