<md-dialog aria-label="Task Form" flex flex-gt-sm="50" flex-gt-lg="40" ng-cloak>
    <form name="vm.taskForm">
        <md-toolbar >
            <div class="md-toolbar-tools">
                <h2 class="white-text">Edit Task</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon class="mdi mdi-close mdi-24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content flex layout-padding layout-wrap>
            <md-subheader class="md-accent" ng-if="vm.error">Oops! Something went wrong! An error occured. Please try again.</md-subheader>
            <!-- Title -->
            <div layout="column" flex="100">
                <md-input-container class="md-block">
                    <label>Title</label>
                    <input type="text" name="Title" required ng-model="vm.task.data.title" ng-disabled="vm.busy">
                    <div ng-messages="vm.taskForm.Title.$error">
                        <div ng-message="required">Title is required.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" flex ng-if="vm.account.data.length">                  
                <!-- Project/Account -->
                <md-input-container class="md-block" flex>
                    <label>Project</label>
                    <md-select name="Account" ng-model="vm.task.data.account_id" ng-disabled="vm.busy" ng-required="vm.account.data.length">
                        <md-option ng-repeat="account in vm.account.data | orderBy: 'name'" value="{{account.id}}">{{ account.name }}</md-option>                 
                    </md-select>
                    <div ng-messages="vm.taskForm.Account.$error">
                        <div ng-message="required">Project is required.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" flex>
                <!-- Revision -->
                <md-switch class="md-primary" ng-model="vm.task.data.revision" flex>Revision</md-switch>
                <!-- Batch -->
                <md-switch class="md-primary" ng-model="vm.batch" flex ng-change="vm.task.changeNumberOfPhotos(vm.task.data)" ng-if="vm.batchable">Batch</md-switch>
            </div>
            <div layout="row" flex ng-if="vm.batch">
                <!-- Number of photos -->
                <md-input-container class="md-block" flex>
                    <label>Number of photos</label>
                    <input type="number" name="Number" ng-model="vm.task.data.number_of_photos" required min="2">
                    <div ng-messages="vm.taskForm.Number.$error">
                        <div ng-message="required">Number of photos is required.</div>
                        <div ng-message="min">Number of photos cannot be less than 2.</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
    </form>
    <div layout="row" layout-align="end center">        
        <md-button ng-if="!vm.busy" class="md-primary" aria-label="Submit" ng-click="vm.submit()">
            Submit
        </md-button>
        <md-progress-circular ng-if="vm.busy" md-mode="indeterminate" class="md-primary" md-diameter="60"></md-progress-circular>
    </div>
</md-dialog>