<div layout="row" flex layout-align="center center">
	<md-card layout="column" flex="50">
        <md-card-content>
          	<highchart id="chart1" config="vm.config"></highchart>
			<md-tabs md-dynamic-height md-border-bottom>
				<md-tab label="John Doe">
					<md-list layout="row" layout-wrap>
						<md-list-item class="md-3-line" flex flex-gt-md="30">
							<div class="md-list-item-text">
								<h3>My Task</h3>
								<h4>VAR</h4>
								<p>08:00PM to 08:15PM</p>
							</div>
						</md-list-item>
						<md-list-item class="md-3-line" flex flex-gt-md="30">
							<div class="md-list-item-text">
								<h3>My Task</h3>
								<h4>VAR</h4>
								<p>08:00PM to 08:15PM</p>
							</div>
						</md-list-item>
						<md-list-item class="md-3-line" flex flex-gt-md="30">
							<div class="md-list-item-text">
								<h3>My Task</h3>
								<h4>VAR</h4>
								<p>08:00PM to 08:15PM</p>
							</div>
						</md-list-item>
						<md-list-item class="md-3-line" flex flex-gt-md="30">
							<div class="md-list-item-text">
								<h3>My Task</h3>
								<h4>VAR</h4>
								<p>08:00PM to 08:15PM</p>
							</div>
						</md-list-item>
						<md-list-item class="md-3-line" flex flex-gt-md="30">
							<div class="md-list-item-text">
								<h3>My Task</h3>
								<h4>VAR</h4>
								<p>08:00PM to 08:15PM</p>
							</div>
						</md-list-item>
						<md-list-item class="md-3-line" flex flex-gt-md="30">
							<div class="md-list-item-text">
								<h3>My Task</h3>
								<h4>VAR</h4>
								<p>08:00PM to 08:15PM</p>
							</div>
						</md-list-item>
					</md-list>
				</md-tab>
				<md-tab label="Jane Doe">
					<md-list layout="row" layout-wrap>
						<md-list-item class="md-3-line" flex flex-gt-md="30">
							<div class="md-list-item-text">
								<h3>My Task</h3>
								<h4>VAR</h4>
								<p>08:00PM to 08:15PM</p>
							</div>
						</md-list-item>
						<md-list-item class="md-3-line" flex flex-gt-md="30">
							<div class="md-list-item-text">
								<h3>My Task</h3>
								<h4>VAR</h4>
								<p>08:00PM to 08:15PM</p>
							</div>
						</md-list-item>
					</md-list>
				</md-tab>
			</md-tabs>
        </md-card-content>
    </md-card>
</div>
