<div layout="row" flex layout-align="center center">
	<div layout="column" flex-md="70" flex-gt-md="60" flex>
		<md-card ng-repeat="account in vm.task.data | filter:vm.toolbar.searchText | orderBy:'name'">
			<!-- <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{account.name}}</span>
					<span class="md-subhead">{{account.range}}</span>
        </md-card-title-text>
      </md-card-title> -->
			<md-card-content>
				<div ng-repeat="position in account.positions">
					<highchart id="chart1" config="vm.chart.config(account, position)"></highchart>
					<table class="table" ng-if="position.employees.length">
						<tr ng-if="!account.batchable">
							<th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Name</th>
							<th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Category</th>
							<th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">New</th>
							<th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Revisions</th>
							<th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Hours Spent</th>
						</tr>
						<tr ng-if="account.batchable">
							<th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Name</th>
							<th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Category</th>
							<th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">New</th>
							<th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Batch Photos(New)</th>
							<th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Revisions</th>
							<th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Batch Photos(Revision)</th>
							<th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Hours Spent</th>
						</tr>
						<tr ng-repeat="employee in position.employees">
							<td>{{employee.name}}</td>
							<td>{{employee.category}}</td>
							<td>{{employee.new}}</td>
							<td ng-if="account.batchable">{{employee.number_of_photos_new}}</td>
							<td>{{employee.revisions}}</td>
							<td ng-if="account.batchable">{{employee.number_of_photos_revisions}}</td>
							<td>{{employee.hours_spent}}</td>
						</tr>
					</table>
				</div>
      </md-card-content>
    </md-card>
	</div>
</div>
<div layout="row" layout-align="center center" layout-padding layout-margin ng-if="vm.isLoading">
	<div layout="column" layout-align="center center" flex flex-gt-sm="50" flex-gt-lg="30">
		<md-progress-circular class="md-primary" md-diameter="60"></md-progress-circular>
	</div>
</div>
