<div layout="row" flex layout-align="center center">
	<md-card layout="column" flex="50">
        <md-card-content>
          	<highchart id="chart1" config="vm.config"></highchart>
			<table class="table">
				<tr>
					<th colspan="4">DexMedia - ProjectName</th>
				</tr>
				<tr>
					<th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Name</th>
					<th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">New</th>
					<th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Revisions</th>
					<th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Hours Spent</th>
				</tr>
				<tr>
					<td>John Doe</td>
					<td>176</td>
					<td>71</td>
					<td>7</td>
				</tr>
				<tr>
					<td>Jane Doe</td>
					<td>144</td>
					<td>29</td>
					<td>7.3</td>
				</tr>
				<tr>
					<td>Mark Doe</td>
					<td>50</td>
					<td>20</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Marie Doe</td>
					<td>80</td>
					<td>33</td>
					<td>2.3</td>
				</tr>
			</table>
        </md-card-content>
    </md-card>
</div>
