<md-card>
	<md-card-title>
      	<md-card-title-text>
        	<span class="md-headline">New User</span>
      	</md-card-title-text>
    </md-card-title>
	<md-card-content>
		<form name="vm.form" novalidate>
			<div layout="row" flex>
				<!-- Name -->
				<md-input-container class="md-block" flex id="newUser">
					<label>Name</label>
					<input type="text" ng-model="vm.user.new.name" name="Name" ng-init="vm.focusOnForm()" required ng-disabled="vm.busy"/>
					<div ng-messages="vm.form.Name.$error">
						<div ng-message="required">Name is required.</div>
					</div>
				</md-input-container>
		</form>
	</md-card-content>
	<md-card-actions layout="row" layout-align="end center">
    	<md-button ng-click="vm.cancel()" ng-if="!vm.busy">Cancel</md-button>
    	<md-button ng-click="vm.submit()" ng-if="!vm.busy">Submit</md-button>
    	<md-progress-circular ng-if="vm.busy" md-mode="indeterminate" class="md-primary" md-diameter="45"></md-progress-circular>
    </md-card-actions>
</md-card>
