<md-card>
	<md-card-title>
      	<md-card-title-text>
        	<span class="md-headline">New User</span>
      	</md-card-title-text>
    </md-card-title>
	<md-card-content>
		<form name="vm.form" novalidate>
			<div layout="row" flex>
				<!-- Name -->
				<md-input-container class="md-block" flex id="newUser">
					<label>Name</label>
					<input type="text" ng-model="vm.user.new.name" name="Name" ng-init="vm.focusOnForm()" required ng-disabled="vm.busy"/>
					<div ng-messages="vm.form.Name.$error">
						<div ng-message="required">Name is required.</div>
					</div>
				</md-input-container>
        <!-- Employee Number -->
				<md-input-container class="md-block" flex>
					<label>Employee Number</label>
					<input type="text" ng-model="vm.user.new.employee_number" name="EmployeeNumber" required ng-disabled="vm.busy" ng-pattern="/^[0-9]*$/" ng-blur="vm.checkEmployeeNumber()"/>
					<div class="pattern" ng-if="vm.duplicateEmployeeNumber">Employee number already in use.</div>
					<div ng-messages="vm.form.EmployeeNumber.$error">
						<div ng-message="required">Employee number is required.</div>
						<div ng-message="pattern">Numeric characters only.</div>
					</div>
				</md-input-container>
			</div>
      <div layout="row" flex>
        <!-- Email -->
        <md-input-container class="md-block" flex>
          <label>Email</label>
          <input type="email" ng-model="vm.user.new.email" name="Email" required ng-blur="vm.checkEmail()">
					<div class="pattern" ng-if="vm.duplicateEmail">Email already in use.</div>
          <div ng-messages="vm.form.Email.$error">
						<div ng-message="required">Email is required.</div>
					</div>
        </md-input-container>
      </div>
			<md-subheader class="md-no-sticky">Experiences</md-subheader>
			<div layout="column" ng-repeat="experience in vm.user.new.experiences" flex>
				<md-checkbox class="md-primary" ng-model="experience.selected">{{experience.name}}</md-checkbox>
				<div layout="row" flex ng-if="experience.selected">
					<!-- Date Started -->
					<md-input-container class="md-block" flex>
						<label>Date Started</label>
						<md-datepicker name="DateStarted{{$index}}" ng-model="experience.date_started" required></md-datepicker>
						<div ng-messages="vm.form['DateStarted' + $index].$error">
							<div ng-message="valid">The entered value is not a date.</div>
							<div ng-message="required">Date started is required.</div>
							<div ng-message="maxdate">Date cannot be later than today</div>
						</div>
					</md-input-container>
				</div>
			</div>
		</form>
	</md-card-content>
	<md-card-actions layout="row" layout-align="end center">
    	<md-button ng-click="vm.cancel()" ng-if="!vm.busy">Cancel</md-button>
    	<md-button ng-click="vm.submit()" ng-if="!vm.busy">Submit</md-button>
    	<md-progress-circular ng-if="vm.busy" md-mode="indeterminate" class="md-primary" md-diameter="45"></md-progress-circular>
    </md-card-actions>
</md-card>
